{% extends "./base.html" %} 

{% block title %} Anh hùng {% endblock %}

{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg spad" data-setbg="/static/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <div class="breadcrumb-text">
                    <div class="bt-option">
                    <form>
                    <span>Tên anh hùng:</span>
                    <input name="title"
                        value="{{title}}"
                        class="form-control" 
                        placeholder="Nhập từ khóa hoặc tên anh hùng...">

                    <span class="mt-3">Phân loại vị trí:</span>
                    <select name='categoryheroId' class="form-control">  
                        <option value="">Tất cả</option>  
                          {% for lh in categoryheroList %}    
                            <option {%if lh.id == categoryheroId%}selected{%endif%}
                              value="{{lh.id}}">{{lh.title}}</option>
                          {% endfor %}    
                    </select>

                    <button class="mt-3 btn btn-danger" type="submit"><i class="fa fa-search"></i> Tìm kiếm</button>
                    </form>
                </div>
                </div>
            </div>    
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Categories Grid Section Begin -->
<section class="categories-grid-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb-text">
                            <h3><span>Danh sách anh hùng</span></h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for h in heroList %}
                    <div class="col-sm-2 pt-5">
                        <a href="{% url 'app:herodetail' h.slug %}">
                        <div class="invisible">
                            <span>{{forloop.counter|add:start}}</span>
                        </div>                  
                        <div class="cg-item">
                            <div class="cg-pic set-bg" data-setbg="/{{h.image}}" data-toggle="tooltip" data-placement="right" title="{{h.title}}">
                                <div class="label"><span>{{h.title}}</span></div>
                            </div><br>
                        </div></a>                 
                    </div>               
                    {% endfor %}
                </div>
                <div class="pagination-item pt-5">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="/all-heroes/?page=1&title={{title}}&categoryheroId={{categoryheroId}}"><span>Trang đầu</span></a></li>
                    {% if page > 1 %}
                        <li class="page-item"><a class="page-link" href="/all-heroes/?page={{page|add:-1}}&title={{title}}&categoryheroId={{categoryheroId}}"><span> < </span></a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link"><span> < </span></a></li>
                    {% endif %} 
                    {% if page < num_page %}
                        <li class="page-item"><a class="page-link" href="/all-heroes/?page={{page|add:1}}&title={{title}}&categoryheroId={{categoryheroId}}"><span> > </span></a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link"><span> > </span></a></li>
                    {% endif %}
                        <li class="page-item"><a class="page-link" href="/all-heroes/?page={{num_page}}&title={{title}}&categoryheroId={{categoryheroId}}"><span>Trang cuối</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}