{% extends "./base.html" %} 

{% block title %} Hướng dẫn {% endblock %}

{% block content %}

<!-- Details Hero Section Begin -->
<section class="details-hero-section set-bg" data-setbg="/static/img/details/details-post.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="details-hero-text">
                    <div class="label"><span>Hướng dẫn</span></div>
                    <div class="label"><span>Gameplay</span></div>
                    <h3>Hướng dẫn chi tiết cho người mới chơi</h3>
                    <ul>
                        <li>được viết bởi <span>Admin</span></li>
                        <li><i class="fa fa-clock-o"></i> Thứ 2, ngày 17 tháng 5 năm 2021</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Details Hero Section End -->

{% endblock %}