{% extends "staff/base.html" %}

{% block title %} Danh sách thông số {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 pt-5">
            <h3>Danh sách thông số</h3><br>
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for as in allstat %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{as.title}}</td>
                        <td>
                            <a href='{% url "app:staffupdatestat" as.id %}' class="btn btn-sm btn-primary">Cập nhật</a>
                            <a href='javascript:staffdeletestat({{as.id}})' class="btn btn-sm btn-danger">Xóa</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href='{% url "app:staffcreatestat" %}' class="btn btn-primary">Thêm thông số</a>
        </div>
    </div>
</div>

<script>
    function staffdeletestat(id) {
      if(confirm('Bạn có chắc chắn muốn xóa thông số này?')){
        location.href = '/staff-delete-stat/' + id;
      }
    }
</script>

{% endblock %}
